.login-form {
    background-image: url(https://www.marshallsindia.com/ImageBuckets/ItemImages/ZA%201006.jpg?id=75);
    height: 275px ;
    width: 1020px;
    border-radius: 10px;
    filter: brightness(1px);
  }
  